:root {
    font-family: system-ui, sans-serif;
}

h2{
    font-size: 40px;
}

img{
    width: 50px;
}

body {
    margin: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.box {
    width: 90%;
    max-width: 520px;
    margin: 0 auto;
    border-radius: 7px;
    padding: 20px 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,.06);
}


.filters button, .row button {
    width: 25%;
    padding: 10px 14px;
    border: 0;
    border-radius: 6px;
    color: #111;
    font-weight: 600;
    cursor: pointer;
    background-color: #FAF1D9;
}

.filters button:hover, .row button:hover { 
    background-color: #F2DFAB;
    transition:  0.5s;
}

button:disabled { 
    opacity: .6; 
    cursor: not-allowed; 
}

input[type="text"]{
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    border: 1px solid;
}

input[type="checkbox"]{
    margin-right: 10px;
}

.row{
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 25px;
    display:flex
}

.deleteBtn{
    float:right;
    height:100%;
    width: 6%;
    border: 0px;
    cursor: pointer;
    background-color: white;
}

.deleteBtn:hover{
    background-color: #F2DFAB;
}

.filters {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 20px 0;
}
.filters button {
    padding: 9px 30px;
    border-radius: 7px;
    border: 1px solid #ddd;
    background: #fff;
}

.filters{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    gap: 25px;
}
.filters button{
    background-color: #FAF1D9;
    border: 0;
}

.filters button:hover{
    background-color: #F2DFAB;
    transition:  0.5s;
}

ul li {
    list-style-type: none;
    border: solid 1px #F2DFAB;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    padding: 0;
}

.checked{
    text-decoration: line-through;
    color: gray;
}